* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: grey;
  color: white;
}
.shared__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.overlay {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
}
.overlay__notification {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: red;
}
.overlay__notification-button {
  border: none;
  padding: 10px 20px;
}
.overlay_hide {
  display: none;
}
.header {
  margin-top: 50px;
}
.header__menu {
  display: flex;
}
.header__menu-item {
  padding: 10px 20px;
  cursor: pointer;
}
.header__menu-item_active {
  color: red;
}
.section_show {
  display: block !important;
}
.posts {
  display: none;
}
