.create-posts {
  display: none;
  &__form {
    width: 550px;
  }
  &__field {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    font-size: 1rem;
    transition: all 0.3s ease;
    &-label {
      padding: 0 10px;
      height: 40px;
      border: 1px solid red;
      display: flex;
      align-items: center;
      border: 1px solid #22272d;
      border-radius: 5px 0 0 5px;
      cursor: pointer;
      background-color: #22272d;
      color: white;
    }
    &-title {
      padding: 0 10px;
      height: 40px;
      border: 1px solid #22272d;
      border-left: none;
      width: 100%;
      outline: none;
      font-size: 0.9rem;
      border-radius: 0 5px 5px 0;
    }
    &-type {
      height: 40px;
      border: 1px solid #22272d;
      border-left: none;
      width: 100%;
      outline: none;
      background: white;
      padding-left: 6px;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      option {
        height: 40px;
      }
    }
    &-text {
      width: 100%;
      height: 300px;
      padding: 10px;
      outline: none;
      border: 1px solid #22272d;
      resize: none;
      border-radius: 5px;
    }
  }
  &__button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 1.25rem;
    background-color: darkgrey;
    width: 100%;
  }
  &__button:hover {
    background-color: #22272d;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .create-posts {
    &__form {
      margin: 0 auto;
      width: 100%;
    }
  }
}
