.posts {
  display: none;

  &__wrapper {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    width: 400px;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin: 15px;
    &-title {
      color: #bfbfbf;
      font-size: 1rem;
      span {
        text-transform: capitalize;
        color: rgb(50, 40, 50);
        font-size: 1.2rem;
      }
    }
    &-text {
      margin: 10px 0;
    }
    &-type {
      color: #a65353;
    }
    &-data {
      color: #bfbfbf;
      font-size: 0.8rem;
    }
    &-button {
      color: #bfbfbf;
      transition: all 0.3s ease;
    }
    &-button:hover {
      color: #a65353;
    }
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
