* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: grey;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.shared {
  &__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__section-hide {
    display: none !important;
  }
  &__section-fade-out {
    animation: fade-out 2s ease;
    animation-fill-mode: forwards;
  }
}

.overlay {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100vh;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  top: 0;
  &__notification {
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 500px;
    &-title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    &-text {
      margin: 25px 0;
      color: grey;
    }
    &-button {
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-size: 1.25rem;
      border-radius: 50px;
    }
    &-button:hover {
      background-color: grey;
      color: white;
    }
  }
  &__notification::before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
}

.menu {
  margin-top: 50px;
  &__wrapper {
    display: flex;
  }
  &__item {
    padding: 10px 20px;
    cursor: pointer;
  }
  &__item_active {
    a {
      color: red;
    }
  }
}

.section_show {
  display: block !important;
}

.posts {
  display: none;
  &__item {
    width: 400px;
  }
  &__item-head {
    display: flex;
    justify-content: space-between;
  }
  &__item-footer {
    display: flex;
    justify-content: space-between;
  }
}

.create-posts {
  display: none;
}

.favourite {
  display: none;
  &__item {
    width: 400px;
  }
  &__item-head {
    display: flex;
    justify-content: space-between;
  }
  &__item-footer {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
