@import url(./overlay.scss);
@import url(./menu.scss);
@import url(./createPosts.scss);
@import url(./favourite.scss);
@import url(./posts.scss);

@mixin no-select($value) {
  -webkit-touch-callout: $value; /* iOS Safari */
  -webkit-user-select: $value; /* Chrome/Safari/Opera */
  -khtml-user-select: $value; /* Konqueror */
  -moz-user-select: $value; /* Firefox */
  -ms-user-select: $value; /* Internet Explorer/Edge */
  user-select: $value; /* Non-prefixed version, currently */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  @include no-select(none);
}
body {
  background: rgb(50, 40, 50);
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  min-width: 320px;
}
.shared {
  &__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__section-hide {
    display: none !important;
  }
  &__section-fade-out {
    animation: fade-out 2s ease;
    animation-fill-mode: forwards;
  }
  &_page-show {
    display: block !important;
    animation: fade-in 1s ease;
  }
  &__title {
    text-transform: capitalize;
    color: #262026;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 400;
  }
  &__description {
    color: #616161;
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: block;
  }
  &__posts {
    &-wrapper {
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-item {
      width: 400px;
      font-size: 1rem;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      margin: 15px;
      &-title {
        color: #bfbfbf;
        font-size: 1.2rem;
        span {
          text-transform: uppercase;
          color: #262026;
        }
      }
      &-text {
        margin: 10px 0;
        color: #616161;
      }
      &-type {
        color: #616161;
        font-weight: 600;
      }
      &-data {
        color: #bfbfbf;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80px;
      }
      &-button {
        color: #262026;
        transition: all 0.3s ease;
        i {
          pointer-events: none;
        }
      }
      &-button:hover {
        color: #707070;
      }
      &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__invalid {
    color: crimson;
    box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.5);
  }
  &__validation-error {
    color: red;
    margin: 10px 0;
  }
  &__notifications {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  &__notification {
    margin: 10px 0;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 25px;
    overflow: hidden;
    font-size: 1rem;
    animation: fade-in-out 5s ease;
    animation-fill-mode: forwards;
    background: #322832;
    &-title {
      font-weight: bold;
    }
    &_success {
      span {
        color: green;
      }
    }
    &_error {
      span {
        color: red;
      }
    }
  }
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  &__content {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  &__wrapper {
    width: 100%;
    background: #ffffff;
    color: black;
    padding: 20px;
    min-height: 100vh;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .shared {
    &__title {
      text-align: center;
    }
    &__description {
      text-align: center;
    }
    &__notifications {
      width: 100%;
      right: 0;
    }
  }
  .main {
    flex-direction: column;
  }
}
